.mealCategoriesList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    @media(min-width: 992px) {
        grid-template-columns: repeat(5, 1fr);
    }
    .mealCategoriesItem {
        border: solid 1px #ddd;
        padding: 1.5rem;
        border-radius: 8px;
        text-align: center;
        h4 {
            margin-top: 1.25rem;
            margin-bottom: 0;
            font-size: 18px;
            font-weight: bold;
        }
    }
}